{% extends 'base.html' %}
{% block content %}
<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2 style="text-align:center">About Us</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSiPPr1E5FleE84iLp-admOvTKvSW0HK6DOQUzdUDy4z3JPrHWw" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
            <h3>Church For All Nations’</h3>
            <p class="font-italic">
              Welcome to Church For All Nations’
            </p>

            <p>
              We at ‘Church For All Nations’ are an Independent church and are part of the ‘Children of the World for Christ Ministries.’ Our Ministry is to Evangelise every nation of the world and to Teach and Equip Christians of all Nations in the service
                of our Lord and Saviour Jesus Christ, as well as celebrating together as brothers and sisters in the Body of Christ.
                We will continue to plant churches in as many nations as possible so that Christians will always have a place to come together
                in worship and fellowship as one family in the body of Christ Jesus.
                A very important part of our church ministry is to help all who are in need, and to fulfil the final commission of Jesus
                in reaching all nations with the Gospel and the Love of Christ Jesus.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

{% endblock %}