{% extends 'base.html' %}
{% block content %}
{% load static %}
 <link href="{% static 'css/slider.css' %}" rel="stylesheet">

<section>
    <div id="slider-animation" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#slider-animation" data-slide-to="0" class="active"></li>
    <li data-target="#slider-animation" data-slide-to="1"></li>
    <li data-target="#slider-animation" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src=" {% static 'images/1.jpg' %}" alt="Los Angeles"  width="100%">
      <div class="text-box">
            <h2 class="wow slideInRight" data-wow-duration="2s">church for all nations</h2>
            <p class="wow slideInLeft" data-wow-duration="2s"> Head quarters  church for all nations </p>
        </div>

    </div>
    <div class="carousel-item">
      <img src=" {% static 'images/2.jpg' %}"   width="100%" alt="Chicago">

    </div>
    <div class="carousel-item">
      <img src=" {% static 'images/3.jpg' %}"   width="100%" alt="New York">

    </div>
    <div class="carousel-item">
      <img src=" {% static 'images/4.jpg' %}"  width="100%" alt="New York">

    </div>
    <div class="carousel-item">
      <img src=" {% static 'images/5.jpg' %}"   width="100%" alt="New York">

    </div>
    <div class="carousel-item">
      <img src=" {% static 'images/6.jpg' %}"   width="100%" alt="New York">

    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider-animation" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

</section>
<section class="py-5">
    <div class="container">
      <h1>welcome</h1>

      <p> Church For All Nations’

Welcome to Church For All Nations’

We at ‘Church For All Nations’ are an Independent church and are part of the ‘Children of the World for Christ Ministries.’ Our Ministry is to Evangelise every nation of the world and to Teach and Equip Christians of all Nations in the service of our Lord and Saviour Jesus Christ, as well as celebrating together as brothers and sisters in the Body of Christ. We will continue to plant churches in as many nations as possible so that Christians will always have a place to come together in worship and fellowship as one family in the body of Christ Jesus. A very important part of our church ministry is to help all who are in need, and to fulfil the final commission of Jesus in reaching all nations with the Gospel and the Love of Christ Jesus
</p>
    </div>
  </section>
<section class="py-5">
      <!-- Features Section -->

    <div class="container space-2 space-3--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">

        <h2 class="h3">core values</h2>
        <p>our seven core values</p>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-6 mb-9">
          <!-- Features -->
          <div class="media pr-lg-4">

            <div class="media-body">
              <h3 class="h6">JESUS IS OUR MESSAGE</h3>
              <p class="mb-0">We are most committed to the preaching of Jesus. Our message is everything. We are Jesus people, not religious people. Methods will come and go, yet our message will remain the same..</p>
            </div>
          </div>
          <!-- End Features -->
        </div>

        <div class="col-md-6 mb-9">
          <!-- Features -->
          <div class="media pl-lg-4">

            <div class="media-body">
              <h3 class="h6">PEOPLE ARE OUR HEART</h3>
              <p class="mb-0">Our heart is for ALL people. All people are loved by Jesus. We make no apologies for being specifically focused on reaching the lost. Our hearts desire is to reach out to the lost and broken hearted and to reunite them with their heavenly Father who is waiting for their return home to Him with open arms. We believe that the love and the light of Jesus should be seen in and through us at all times. Matthew 5:14-16 (NIV); Matthew 6:22 (NIV)</p>
            </div>
          </div>
          <!-- End Features -->
        </div>

        <div class="w-100"></div>

        <div class="col-md-6 mb-9">
          <!-- Features -->
          <div class="media pr-lg-4">

            <div class="media-body">
              <h3 class="h6">GENEROSITY IS OUR PRIVILEGE</h3>
              <p class="mb-0">Generosity is about giving more than what is required. We see generosity as a privilege. We are generous with our time, talents and treasure. We go first in our giving. God has given richly towards us; it is our honor to give back to Him.</p>
            </div>
          </div>
          <!-- End Features -->
        </div>

        <div class="col-md-6 mb-9">
          <!-- Features -->
          <div class="media pl-lg-4">

            <div class="media-body">
              <h3 class="h6">EXCELLENCE IS OUR SPIRIT</h3>
              <p class="mb-0">We are always going to do the best with what we have. We are on time, engaged and prepared. We do not do things half way. If we are going to do it, we are going to do it to the best of our ability.</p>
            </div>
          </div>
          <!-- End Features -->
        </div>

        <div class="w-100"></div>

        <div class="col-md-6 mb-9 mb-md-0">
          <!-- Features -->
          <div class="media pr-lg-4">

            <div class="media-body">
              <h3 class="h6">SERVANT LEADERSHIP IS OUR IDENTITY</h3>
              <p class="mb-0">If you are too big to serve, you are too small to lead. Every leader is a servant first. From the parking lot to the pulpit, everyone serves. If you aren’t helping, you are not serving!
</p>
            </div>
          </div>
          <!-- End Features -->
        </div>

        <div class="col-md-6">
          <!-- Features -->
          <div class="media pl-lg-4">

            <div class="media-body">
              <h3 class="h6">HONOR IS OUR CALLING</h3>
              <p class="mb-0">We are vocal with our honor. We submit to leadership and are thankful for spiritual authority. We choose joyfully to submit to those God has placed over us. We honor and care for those God has placed under us.
.</p>
            </div>
          </div>
          <!-- End Features -->
        </div>
      </div>
    </div>
  </section>
<section class="py-5">
    <div class="container">
      <h1>Statement of faith</h1>
      <p class="lead">We believe that Christianity is more than religious practices instead of adhering to a list of"do's and don'ts" the goal of a Christian is to cultivate a close walk with God</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>
<section class="py-5">
    <div class="container">
      <h1>ministries</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>

<script src="{% static 'wow.js' %}"></script>

{% endblock %}
