{% extends 'base.html' %}
{% block content %}


<section class="py-5">
    <div class="container">
      <h1>Donations</h1>
<div class="col-md-6 col-lg-6">
<p>Donating to church for all nations through MPESA in Kenya is easy. You can donate any amount towards the support of our church.

To donate through MPESA follow these steps:
mpesa
<ul>
    <li>Select MPESA</li>
    <li>Select Lipa na M-PESA</li>
    <li>Select Pay Bill</li>
    <li>Enter # 0000000 (Business Number/Pay Bill number)</li>
    <li>Enter Account Number – Your Name</li>
    <li>Enter Your Donation Amount</li>
    <li>Enter Your MPESA PIN</li>
<li>Confirm Your Payment
           Wait For the MPESA SMS</li>

</ul>
</p>

</div>
    </div>
  </section>

{% endblock %}
